:markdown

  ## Responsibilities

  * Prioritizes and leads the effort to triage and fix community-reported issues
  * Prioritizes and leads the review of community-contributed merge requests
  * Continues to spend part of the time coding
  * Identifies ways that GitLab can contribute to related open source projects (e.g. git command-line)
  * Proposes/leads architecture improvements to GitLab
  * Leads [Backstage](/roles/specialist/backstage/) improvements
  * Ensures that the technical decisions and process set by the VP of Engineering and CTO are followed
  * Ensures that there is a written onboarding and process that is effective and followed
  * Performs regular 1:1's with all reports
  * Is available for 1:1's on demand of the report
  * Uses the contributor analytics to ensure that anyone who is stuck is helped
  * Delivers input on promotions, function changes, demotions and firings in consultation with the CEO, CTO, and VP of Engineering
  * Defines best practices and coding standards for backend group
